mat-card{
    height: 400px;
    width: 400px;
    text-align: center;
    background-color:rgba(0, 132, 255, 0.103);
    margin-top: 100px;
}
h2,h4{
    font-family: 'Times New Roman', Times, serif;
}
button:hover{
    background-color: green;
}