<div class="container d-flex justify-content-center align-items-center  ">
    <mat-card  >
        <form [formGroup]="cp">
            <div>
                <h2>Change Password</h2>
            </div>
            <div>
               <h4> Username : {{userName}}</h4>
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Enter Old Password</mat-label>
                    <input type="password" matInput formControlName="pwd">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Create New Password</mat-label>
                    <input type="password" matInput formControlName="newPwd">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm New Password</mat-label>
                    <input type="password" matInput formControlName="cnewPwd">
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button (click)="submit()">Submit</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button mat-raised-button routerLink="/myProfile">Cancel</button>
            </div>
        </form>
    </mat-card>
</div>