 .container-fluid{
    
    min-height: 100vh;
  
    
 }
 
table,td{
   background-color:rgb(78, 96, 255);
   color: white;
   padding: 15px;
     font-family: 'Times New Roman', Times, serif;
     font-size: large;
     

}
 
 