<div class="container-fluid d-flex justify-content-center align-items-center  ">


 

    <table>
        <tr>
            <td>Username</td>
            <td>: {{details.Username}}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>: {{details.Name}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>: {{details.Email}}</td>
        </tr>
        <tr>
            <td>Mobile</td>
            <td>: {{details.Phone}}</td>
        </tr>
        <tr>
            <td>Date Of Birth </td>
            <td>: {{details.DOB}}</td>
        </tr>
        <tr>
            <td>Department</td>
            <td>: {{details.Department}}</td>
        </tr>
        <tr>
            <td>Role</td>
            <td>: {{details.Role}}</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;"><a routerLink="/changePassword" style="color:black;">Change
                    Password</a></td>
        </tr>




    </table>









</div>