<div class="container d-flex justify-content-center" style="width: 600px;">
   
    <table >
        <!-- <div  class="d-flex justify-content-center">
            <img src="{{details.photo}}" alt="">
        </div> -->
        <div class="row">
           
           <div class="col-6">
            
            <tr>
                <td>Emp_ID</td>
                <td>: {{details.Emp_ID}}</td>
            </tr>

            <tr>
                <td>Name</td>
                <td>: {{details.Name}}</td>
            </tr>
            
            <tr>
                <td>Mobile</td>
                <td>: {{details.Phone}}</td>
            </tr>

            <tr>
                <td>Date Of Birth </td>
                <td>: {{details.DOB}}</td>
            </tr>
           </div>
        
        <div class="col-6">
            <tr>
                <td>Email</td>
                <td>:{{details.Email}}</td>
            </tr>
           
            <tr>
                <td>Department</td>
                <td>: {{details.Department}}</td>
            </tr>
            <tr>
                <td>Role</td>
                <td>: {{details.Role}}</td>
            </tr>
        </div>
    </div>
        <tr>
            <td colspan="2" style="text-align: center;"><button mat-button mat-dialog-close>Close</button></td>
        </tr>
    
    
    
    
    </table>
</div>